<htm>
    <head>
        <title>Customer List App</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    </head>
    <body>
    <div>
        <br>
        <div class="container">
            <h5>Filters</h5>
            <form action="#" th:action="@{/}" method="GET" class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="Country">Country</label>
                        <input type="text" id="country" name="country" placeholder="Country Name" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="Status">Status</label>
                        <input type="text" id="status" name="status" placeholder="Status" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <input type="submit" value="Filter" class="btn btn-default">
                    </div>
                </div>


            </form>

        </div>

        <div th:switch="${customerList}" class="container">
            <h5>Customers</h5>
            <h2 th:case="null">No Phone Numbers</h2>
            <div th:case="*">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Country Code</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="customer : ${customerList}">
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.country}"></td>
                        <td th:text="${customer.code}"></td>
                        <td th:text="${customer.phone}"></td>
                        <td th:text="${customer.status}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
    </body>
</htm>